################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Test.Bookstore/.vs/Test.Bookstore
/Test.Bookstore/Test.Bookstore/bin/Debug/netcoreapp3.1
/Test.Bookstore/Test.Bookstore/obj
